[access "refs/*"]
        owner = group android_system_core-lineage
                label-Verified = -1..+1 group android_system_core-lineage
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
	pushMerge = group Administrators
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
