[access "refs/*"]
        owner = group android_system_core-lineage
                label-Verified = -1..+1 group android_system_core-lineage
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
[access "refs/for/*"]
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
